%h1
  %strong What is Bigheart
%h3
  %strong 在台灣的某個角落，有一些急需幫助的人，但他們只願意用自己的勞力換取他們需要的幫助。
.lead Bigheart是一個能讓人發佈這些資訊的平台。透過Bigheart，我們希望能讓更多人以更快的速度取得這些資訊。不論您身在何方，都能以最便捷的方式得知您所在的縣市有哪些人正等著您的幫助。別再猶豫了!!快來看看有哪些人需要幫助，或告訴大家哪裡還有人等著我們伸出援手，將這份溫暖的訊息傳達到所有人心裡吧!!
%p
  = link_to '立即註冊 »', new_user_registration_path, class: "btn btn-primary btn-large"

