#slogan.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} ×
        %h1
          %strong.modal-title What is Bigheart
      .modal-body
        %h3
          %strong 在台灣的某個角落，有一些急需幫助的人，但他們只願意用自己的勞力換取他們需要的幫助。
        %p
          %h4 Bigheart是一個能讓人發佈這些資訊的平台。透過Bigheart，我們希望能讓更多人以更快的速度取得這些資訊。不論您身在何方，都能以最便捷的方式得知您所在的縣市有哪些人正等著您的幫助。別再猶豫了!!快來看看有哪些人需要幫助，或告訴大家哪裡還有人等著我們伸出援手，將這份溫暖的訊息傳達到所有人心裡吧!!
      .modal-footer
        .btn.btn-primary{"data-dismiss" => "modal"} 關閉