#slogan.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{"data-dismiss" => "modal"} ×
        %h1
          %strong.modal-title What is Bigheart
      .modal-body
        %h3
          %strong 在台灣有許多真正急需幫助的人，他們透過販賣生活用品或食物來換取所需的生活或醫療費用。
        %p
          %h4 由於透過社群網站(如facebook)分享這類訊息時，通常夾雜著大量其他的資訊，並大大的降低了這些資訊的曝光率。再者，因為社群網站資訊流動量過大，往往會造成這些人只能獲得短暫性的幫助，無法持續不間斷的獲得他們需要的資源。為了有效的將這些訊息傳達給更多人，並且讓人們能夠用更便捷的方式來得到這些人的資訊，Bigheart因此而誕生。透過Bigheart，不論您身在何方，都能以最便捷的方式得知您所在的縣市有哪些人正等著您的幫助。另外，您除了可以從這裡獲得這些資訊，也可以將自己所知道的資訊分享出去。別再猶豫了!!快來看看有哪些人需要幫助，或告訴大家哪裡還有人等著我們伸出援手，將這份溫暖的訊息傳達到所有人心裡吧!!
      .modal-footer
        .btn.btn-primary{"data-dismiss" => "modal"} 關閉