// Place all the styles related to the story controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stories
  margin: 0 auto 0 auto
  padding-bottom: 20px

.story
  width: 280px
  margin: 2px
  padding: 10px
  background: white
  border: solid
  border-color: #d3d3d3
  min-height: 300px
//  margin: 0 auto 0 auto;

.story_title
  font-size: 1.2em
.story_highlight
  font-size: 1.7em
.story_details
  width: 500px
  font-size: 1.3em
  line-height: 1.5em
.info_from
  font-size: 1.3em
  line-height: 1.5em

.index
  .story_details
    width: 255px
    font-size: 1.3em
    line-height: 1.5em
  .select_city
    margin-bottom: 15px

