%p
  Hello, #{@resource.name}!
%p 為了確認您為帳號使用者本人，並曾經送出變更密碼申請。 請您點擊下列連結更換密碼。
%p
  = link_to '確認變更密碼', edit_password_url(@resource, :reset_password_token => @token)
%p 若您沒有送出變更密碼申請，請忽略這封電子郵件。
%p 在您點選擊連結且完成更換密碼前，您的密碼皆不會更換。
